table{
	width: 100%;
}

@media (max-width: 767px) {
	/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
	body {
		padding-top: 50px;
	}

	table {
		text-align: center
	}
}

@media print {
	.container.fluid {
		padding: 0;
		margin: 0;
	}

	.text-xs-center {
		display: none;
	}

	.v-toolbar {
		display: none;
	}

	.v-datatable__actions {
		height: 0;
		visibility: hidden;
	}

	span {
		display: none;
	}
}