<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md5 sm6 xs8>
			<v-form ref="form" lazy-validation>
				<h3>Create PDS Reagent</h3>
				<v-select v-model="reagent.name" :items="names" label="Name" :rules="[rules.required]" box v-on:change="setMinimum" />
				<v-text-field v-model="reagent.supplier" label="Supplier" :rules="[rules.required]" box />
				<v-text-field v-model="reagent.batch" label="Batch" :rules="[rules.required]" box />
				<v-select v-model="reagent.validated" :items="validates" label="Validated" :rules="[rules.required]" box />
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="reagent.expiry" label="Expiry" append-icon="event" :rules="[rules.required]" readonly box />
					<v-date-picker v-model="reagent.expiry" first-day-of-week="1" />
				</v-menu>
				<v-text-field v-model="reagent.quantity" label="Quantity" :rules="[rules.required, rules.number]" maxlength="5" box />
				<v-btn color="secondary" v-on:click="createReagent">Submit</v-btn>
				<v-btn color="secondary" v-on:click="clear">Clear</v-btn>
				<v-btn color="secondary" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="red">Failed to create reagent!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script src="./createpds.ts"></script>
