<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md5 sm6 xs8>
			<v-form ref="form" lazy-validation>
				<h3>Edit AT Reagent</h3>
				<v-text-field v-model="after.name" label="Name" :rules="[rules.required]" box disabled />
				<v-text-field v-model="after.supplier" label="Supplier" :rules="[rules.required]" box disabled />
				<v-text-field v-model="after.batch" label="Batch" :rules="[rules.required]" box disabled />
				<v-select v-model="after.validated" :items="validates" label="Validated" :rules="[rules.required]" box />
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="after.expiry" label="Expiry" append-icon="event" :rules="[rules.required]" readonly box />
					<v-date-picker v-model="after.expiry" first-day-of-week="1" />
				</v-menu>
				<v-text-field v-model="after.quantity" label="Quantity" :rules="[rules.required, rules.number]" maxlength="5" box />
				<v-btn color="accent" v-on:click="editReagent">Submit</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">Failed to edit reagent!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script src="./editat.ts"></script>
